* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(253, 247, 237);
  max-width: 1200px;
  padding: 0;
  margin: auto;
  /* border: 2px solid blue; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.2em;
  font-weight: 500;
}

p {
  font-family: Garamond, serif;
  font-size: 1.4em;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.nav__style {
  /* position: fixed; */
  top: 0px;
  right: 0px;
  position: sticky;
  width: auto;
  /* right: inherit; */
  /* width: auto; */
  background-color: rgb(253, 247, 237);
  /* display: flex;
  justify-content: flex-end; */
  border: 2px dotted green;
}
.nav__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 2em;
  padding: 0 2em;
  align-items: center;
  list-style-type: none;
  min-height: 5em;
  /* border: 2px solid green; */
}

.nav__li {
  font-size: 1.5em;
}

.nav__li > a {
  color: rgb(61, 61, 61);
  text-decoration: none;
}

.nav__li > a:hover {
  color: brown;
}

.main__style {
  /* display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: flex-start; */
  /* margin-top: 100px; */
  border: 2px solid red;
}

.header__style {
  position: sticky;
  top: 0px;
  height: auto;
  width: 60%;
  background-color: darkorange;
  border: 2px solid black;
}

.img__style {
  max-width: 80%;
  padding-top: 15px;
}

.sec__links__style {
  width: 80%;
  background-color: blueviolet;
  justify-content: flex-end;
  padding: 20px;
  margin-top: 50px;
}

.sec__rechts__style {
  /* height: 100px; */
  width: 80%;
  background-color: darkorange;
  align-self: flex-end;
  padding: 20px;
}
