* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

h1 {
  font-size: 40vh;
  color: hsl(50 100% 50%);
  font-weight: 400;
}

.container__characters {
  display: flex;
}

.single__letter {
  /* background-color: green; */
}

.single__letter__first {
  order: -1;
}

.animation {
  animation-name: mycolor;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes mycolor {
  0% {
    font-size: 55vh;
    color: hsl(0deg 100% 50%);
  }
  25% {
    font-size: 56vh;
    color: hsl(90deg 100% 10%);
  }
  50% {
    font-size: 57vh;
    color: hsl(180deg 50% 50%);
  }
  75% {
    font-size: 56vh;
    color: hsl(270deg 100% 80%);
  }
  100% {
    font-size: 55vh;
    color: hsl(360deg 100% 50%);
  }
}

.single__letter:hover {
  /* background-color: coral; */
  animation: wiggle 2s;
  /* animation-iteration-count: 4; */
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    rotate: y 0deg;
  }
  50% {
    rotate: y 25deg;
  }
  100% {
    rotate: y 0deg;
  }
}
